body {
	background-color: black;
	border-right:50px solid black;
	border-left:50px solid black;
}
h1 {
	color:white;
	
}
h2 {
	color:white;
	
}
p {
	color:white;
	
}
link {
	
	

	